# node & OS
**/node_modules/
npm-debug.log*
yarn-error.log*
.DS_Store

# build artifacts (tetap masukin source)
**/dist/
**/build/
apps/mobile/android/app/build/
apps/mobile/ios/build/

# Expo / RN caches
.expo/
.expo-shared/

# ENV / secrets
**/.env
**/.env.*
*.keystore
*.p12
*.mobileprovision

# JANGAN meng-ignore seluruh 'apps/'
# kalau terlanjur ada 'apps/' di .gitignore, hapus atau override:
!apps/
!apps/**
